# compiled output
/backend/hoof-ledger/dist
/backend/hoof-ledger/node_modules
/backend/hoof-ledger/build

# Logs
/backend/hoof-ledger/logs
/backend/hoof-ledger/*.log
/backend/hoof-ledger/npm-debug.log*
/backend/hoof-ledger/pnpm-debug.log*
/backend/hoof-ledger/yarn-debug.log*
/backend/hoof-ledger/yarn-error.log*
/backend/hoof-ledger/lerna-debug.log*

# OS
/backend/hoof-ledger/.DS_Store

# Tests
/backend/hoof-ledger/coverage
/backend/hoof-ledger/.nyc_output

# IDEs and editors
/backend/hoof-ledger/.idea
/backend/hoof-ledger/.project
/backend/hoof-ledger/.classpath
/backend/hoof-ledger/.c9/
/backend/hoof-ledger/*.launch
/backend/hoof-ledger/.settings/
/backend/hoof-ledger/*.sublime-workspace

# IDE - VSCode
/backend/hoof-ledger/.vscode/*
/backend/hoof-ledger/!.vscode/settings.json
/backend/hoof-ledger/!.vscode/tasks.json
/backend/hoof-ledger/!.vscode/launch.json
/backend/hoof-ledger/!.vscode/extensions.json

# dotenv environment variable files
/backend/hoof-ledger/.env
/backend/hoof-ledger/.env.development.local
/backend/hoof-ledger/.env.test.local
/backend/hoof-ledger/.env.production.local
/backend/hoof-ledger/.env.local

# temp directory
/backend/hoof-ledger/.temp
/backend/hoof-ledger/.tmp

# Runtime data
/backend/hoof-ledger/pids
/backend/hoof-ledger/*.pid
/backend/hoof-ledger/*.seed
/backend/hoof-ledger/*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
/backend/hoof-ledger/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
